<section class="Home_Container">
  <h1>Instituto de Estudios <br>
    Superiores de Tinogasta</h1>
  <div class="Section_List_Container_Perspective">
    <div class="Section_List_Animation">
      <img class="Imagen_1" src="../../../assets/Carrusel/Img_1.png">
      <img class="Imagen_2" src="../../../assets/Carrusel/Img_2.png">
      <img class="Imagen_3" src="../../../assets/Carrusel/Img_3.png">
      <img class="Imagen_4" src="../../../assets/Carrusel/Img_4.png">
      <img class="Imagen_5" src="../../../assets/Carrusel/Img_5.png">
      <img class="Imagen_6" src="../../../assets/Carrusel/Img_6.png">
      <img class="Imagen_7" src="../../../assets/Carrusel/Img_7.png">
      <img class="Imagen_8" src="../../../assets/Carrusel/Img_8.png">
      <img class="Imagen_9" src="../../../assets/Carrusel/Img_9.png">
      <img class="Imagen_10" src="../../../assets/Carrusel/Img_10.png">
      <img class="Imagen_11" src="../../../assets/Carrusel/Img_11.png">
      </div>
  </div>
    
</section>