<ul class="Header" type="none">
    <img class="Logon" src="../../../assets/Logos/LogoDark.png">
    <div class="Link">
        <li>Home</li>
        <div class="Bar_fx"></div>
    </div>
    <div class="Link">
        <li>Inscripciones</li>
        <div class="Bar_fx"></div>
    </div>
    <div class="Link">
        <li>Carreras</li>
        <div class="Bar_fx"></div>
    </div>
    <div class="Link">
        <li>Noticias</li>
        <div class="Bar_fx"></div>
    </div>
    <div class="Link" style="margin-bottom: 50px;">
        <li>Contacto</li>
        <div class="Bar_fx"></div>
    </div>
</ul>